body {
    background-image: url("https://www.theosthinktank.co.uk/assets/generated/articles/page/495d2d4c9a512ce94bb811449458dcfc.jpg");
    background-size:auto 100vh;
    font-family: Arial;
    height: 100vh;
  }
  .menu {
    background-color: white;
  }
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  .menu li {
    list-style: none;
  }
  a {
    color: teal;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .site-subtitle, .site-title {
    color: whitesmoke;
    text-align: center;
  }
  .site-subtitle{
    font-style: italic;
  }